body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #44ffac;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#app {
  background-color: #44ffac;
  width: 400px;
  height: 500px;
  margin: 20px auto;
  border: 2px solid #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#time {
  text-align: center;
  padding: 20px 0;
}

#time #value {
  font-size: 48px;
  font-weight: bold;
  color: #333;
}

.form {
  display: flex;
  flex-direction: row; /* Cambia a fila para alinear elementos en línea */
  align-items: center;
  margin-top: 20px;
}

#form {
  display:flex; /* Alinea elementos en línea */
  align-items: center;
}

/* Estilos para los elementos de entrada en el formulario */
#itTask {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  outline: none;

}

#bAdd {
  border: none;
  background-color: #ff6b6b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  margin-left: 10px; /* Separación entre el botón "Agregar tarea" y el campo de entrada */
}

#bAdd:hover {
  background-color: #e95a5a;
}

#tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

/* Establece un ancho fijo y adapta al contenido */
tr.tabla {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

/* Establece un ancho igual para todas las celdas de la fila */
tr.tabla td {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Estilos para los botones en las filas de la tabla */
.table-button {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.table-button:hover {
  background-color: #e95a5a;
}

